<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description | default: site.description | strip }}">
    <meta name="author" content="Kamlesh Chhetty">
    {% if page.planner_api_base %}
    <meta name="planner-api-base" content="{{ page.planner_api_base }}">
    {% endif %}

    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    {% if page.font_awesome %}
    <link rel="stylesheet" href="{{ '/font-awesome/css/font-awesome.min.css' | relative_url }}" type="text/css">
    {% endif %}
    <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}" type="text/css">
    {% if page.stylesheet %}
    <link rel="stylesheet" href="{{ page.stylesheet | relative_url }}" type="text/css">
    {% endif %}
    {% for stylesheet in page.stylesheets %}
    <link rel="stylesheet" href="{{ stylesheet | relative_url }}" type="text/css">
    {% endfor %}

</head>
